body{
    font-family: 'Montserrat', sans-serif; 
 
}

h1,h2,h3{
    font-family:'Montserrat',sans-serif;

}
h1{
    font-weight: 800;
    font-size: 3.2rem;
    line-height: 1.5;
}
h2{
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.5;
}
h3{
    font-weight: 800;
    font-size: 1.5rem;
    
}
p{
    color: #8f8f8f;
    font-weight: 500;
    font-size: 0.9rem;
}
#title{
    background-color: #ee2e6e;
    color: #fff;
}

.container-fluid{
    padding:3% 15% 7%;
}


/* Navbar */
.navbar{
    padding: 0 0 4.5rem;
}

.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.4rem;
    font-weight: bold;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Download button  */
.download-button{
    margin: 5% 3% 5% 0;
}

/* title image */

.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}


/* Feature */

#features{
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color: #ee2e6e;
}

/* Testimonial section  */

#testimonials{
    text-align: center;
    background-color: #f15b8d;
    color: #fff;
}

.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item{
    padding: 7% 15%;

}

/* press section */

#press{
    background-color: #f15b8d;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing sectoin  */

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

/* CTA section  */
#cta{
    background-color: #ee2e6e;
    color: #fff;
    padding: 7% 15%;
    text-align: center;
}

.cta-heading{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 3rem;
}

/* footer section  */
#footer{
    padding: 7% 15%;
    text-align: center;

}

.social-icon{
    margin: 20px 10px;
}

@media (max-width:1028px) {

    #title{
        text-align: center;
    }

    .title-image{
        position: static;
        transform: rotate(0);
    }

}